body {
  font-family: "Roboto Mono", monospace;
  background-color: black;
  color: white;
  letter-spacing: 2px;
  margin-top: 10px;
}

h1 {
  text-align: center;
  font-weight: lighter;
  font-size: 60px;
  margin-bottom: 25px;
  letter-spacing: 10px;
}

h2 {
  text-align: center;
  /* margin-top: 60px; REPONSIVE NUMBERS */
  margin-top: 170px;
  font-size: 70px;
}

.container {
  margin-top: 20px;
  text-align: center;
  font-weight: 100;
}

.bee {
  margin-top: 20px;
}

img.img-fluid.rounded {
  object-fit: cover;
  margin-top: 30px;
}

footer {
  position: fixed;
  font-size: 12px;
  bottom: 0;
  height: 80px;
  padding-bottom: 20px;
  width: 100%;
}

/* @media (max-width: 550px) {
  h1 {
    font-size: 30px;
    text-align: center;
  }

  h2 {
    text-align: center !important;
  }

  img {
    display: none;
  }

  .bee {
    width: 550px;
    display: block;
  }

  .project {
    text-align: center;
  }
} */

@media (max-width: 550px) {
  h1,
  h2 {
    font-size: 30px;
    text-align: center;
  }

  h2 {
    margin-bottom: 0;
  }

  img {
    display: none;
  }

  .bee {
    width: 100%;
    height: auto;
  }

  .container {
    font-size: 10px;
  }
}
