body {
  font-family: "Roboto Mono", monospace;
  background-color: black;
  color: white;
  letter-spacing: 2px;
  margin-top: 10px;
}

h1 {
  text-align: center;
  font-weight: lighter;
  font-size: 35px;
}

h2 {
  text-align: center;
  /* margin-top: 60px; REPONSIVE NUMBERS */
  margin-top: 170px;
  font-size: 70px;
}

.container {
  margin-top: 20px;
  text-align: center;
  font-weight: 100;
}

.bee {
  margin-top: 20px;
}

img.img-fluid.rounded {
  object-fit: cover;
  margin-top: 30px;
}
